body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 58, 0.84);
}

h1, h5, h6 {
    margin: 15px 0px;
    font-weight: normal;
}

h5 {
    color: rgb(80, 80, 80);
}

h6 {
    font-size: .6em;
    font-weight: bold;
}

.container {
    border: rgb(220, 220, 220) solid 1.4px;
    border-radius: 7px;
    -webkit-box-shadow: -4px 4px 4px rgb(220, 220, 220);
    box-shadow: -4px 4px 4px rgb(220, 220, 220);
    width: 600px;
}

.card-image-container {
    height: 160px;
    width: 160px;
    float: left;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    border: rgba(0, 0, 58, 0.84) solid 1px;
}

.card-image {
    height: 100%;
    width: auto;
    -moz-transform: translateX(30px) translateY(-18px) scale(2.0);
    -webkit-transform: translateX(30px) translateY(-18px) scale(2.0);
    transform: translateX(30px) translateY(-18px) scale(2.0);
}

.main {
    margin-left: 200px;
    width: 370px;
}

.main-top-border {
    margin-top: 20px;
    border-bottom: rgb(220, 220, 220) solid 2px;
    width: 160px;
}

.details-button {
    border: rgba(0, 0, 58, 0.84) solid 1px;
    height: 40px;
    width: 160px;
    margin-bottom: 25px;
    text-align: center;
}

.details-button:hover {
    background-color: rgba(0, 0, 58, 0.84);
    color: white;
}

@media (max-width: 599px) {
    h1 {
        font-size: 1em;
    }

    .container {
        width: 300px;
    }

    .card-image-container {
        height: 80px;
        width: 80px;
    }

    .card-image {
        -moz-transform: translateX(15px) translateY(-9px) scale(2.0);
        -webkit-transform: translateX(15px) translateY(-9px) scale(2.0);
        transform: translateX(15px) translateY(-9px) scale(2.0);
    }

    .main {
        margin-left: 120px;
        width: 180px;
    }
}
